<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>The mayday application</title>
		<script type="text/javascript">var sln_customiser_path = '{{ path('sensiolabs_mayday_sln') }}';</script>

		{% stylesheets
			'@SensioLabsMaydayBundle/Resources/assets/css/*'
			'http://connect.sensiolabs.com/css/sln.css'
		%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

		{% javascripts
			'@SensioLabsMaydayBundle/Resources/assets/js/*'
			'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'
			'http://connect.sensiolabs.com/sln.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	</head>
	<body>
		<div id="sln"></div>
	</body>
</html>