{% extends 'SensioLabsMaydayBundle::layout.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Coming soon</h1>
        <p>Archives feature is not implemented yet. We plan to:</p>
        <ul>
            <li>Let you access to resolved problems</li>
            <li>Use elastic search as search engine</li>
        </ul>
    </div>
{% endblock %}
