{% form_theme form 'SensioLabsMaydayBundle:Form:fields.html.twig' %}

<div id="up-header">
    <h1>Mayday application</h1>
    <div class="well">
        <p>
            Bienvenue sur la mayday application ! La liste des demandes d'aides sont listées ci-dessous.
        </p>
        <p>
            Pour ajouter ta demande : <button id="new-problem" class="btn btn-primary" type="button">Ajouter ma demande</button>
        </p>
    </div>
</div>

<div id="problem-create">
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <form method="post" class="bs-example form-horizontal" action="{{ path('sensiolabs_maday_problem_create') }}">
                    <fieldset>
                        <legend>Qu'est-ce qui ne va pas ?</legend>
                        {{ form(form) }}
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button id="submit-problem" class="btn btn-primary right" type="submit">Envoyer</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

