<p class="right">
    <span class="label
        {% if priority == '1' %}
            label-danger
        {% elseif priority == '2' %}
            label-warning
        {% elseif priority == '3' %}
            label-success
        {% endif %}
     ">
        {{ priorities[priority] }}
    </span>
</p>

