{% extends 'SensioLabsMaydayBundle::layout.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<h2>Mayday !</h2>
			<div class="bs-example">
				<div class="alert alert-danger">
					<h4>Connecte toi pour accéder à l'application :)</h4>
				</div>
			</div>
		</div>
	</div>
{% endblock %}