.problems {
    list-style-type: none;
    padding: 0;
}

.problems li {
    padding-left: 10px;
    margin: 0;
}

.priority-1 {
    border-left: 10px solid #ff0039;
}

.priority-2 {
    border-left: 10px solid #ff7518;
}

.priority-3 {
    border-left: 10px solid #3fb618;
}

.right {
    float: right;
    margin-right: 3px;
}

#problem-create {
    display: none;
}

.button-set {
}

.clear {
    clear: both;
}
